name: CI/CD workflow for Sonar + ZAP

on:
  push:
    branches:
      - main
  workflow_dispatch:
  
permissions:
  contents: read
  issues: write
jobs:
  zap-full:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: ZAP Full Scan
        uses: zaproxy/action-full-scan@3c58388149901b9a03b7718852c5ba889646c27c
        with:
          target: 'https://nilotrug.github.io/B1-UE2-2-D-veloppement-web-full-stack/'
          token: ${{ secrets.GITHUB_TOKEN }}
          issue_title: 'OWASP ZAP Scan Report'
          
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        with:
          projectBaseDir: .
          args: >
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.organization=NILOTRUG
            -Dsonar.projectKey=https://sonarcloud.io/summary/new_code?id=NILOTRUG_B1-UE2-2-D-veloppement-web-full-stack
            -Dsonar.sources=.
            -Dsonar.exclusions=**/vendor/**,**/node_modules/**
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
         
